/* navigation-bar */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: rgb(182, 214, 248);
  /* padding-bottom: 1000px; */ /*for dev purposes only*/
}
.icct-logo {
  width: 280.297px;
  height: 61.9844px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  font-weight: bold;
}
li {
  display: inline-block;
  list-style-type: none;
}
.header{
  background-color: rgb(10, 49, 90);
  padding-left: 15px;
  padding-right: 15px;
}
.nav-bar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

/* content div */
.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
/* introduction */
.introduction {
  margin-left: auto;
  margin-right: auto;

}
.introduction h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 40px;
  font-family: Raleway;
  font-weight: 800;
}
.introduction h3 {
  font-style: italic;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  font-family: PT Serif;
}
.introduction p {
  margin: 0;
  margin-bottom: 13px;
}
.hr-introduction {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: yellow;
  height: 2px;
  border: 0;
}
/* courses */
.courses-offered-title {
  margin-top: 0;
  background-color: yellow;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  font-family: Raleway;
  font-weight: 800;
  font-style: italic;
  color: rgba(128, 128, 128, 0.973);
}

.courses-container {
  width: 355px;
  height: 330px;  /* height set's the height of border solid*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.171);
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 40px;
  vertical-align: top;
}

.courses img {
  width: 355px;
  height: 252px;
}
.course-title {
  font-size: 16px;
  font-family: Raleway;
  color: rgb(1, 7, 31);
  font-weight: 600;
  padding-left: 27px;
  /* border-style: solid; */
  margin-top: 18px; /*distance of course title in border solid */
}
.course-title:hover {
  color: rgb(58, 147, 241);
}
footer {
  background-color: rgb(21, 21, 21);
  color: rgb(79, 79, 79);
  font-family: Open Sans;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-logo {
  width: 280.297px;
  height: 61.9844px;

}